@using PagedList.Mvc;
@using Ras.Web.LuneDeMiel.ViewModels.Honey;

@model HoneyListItemViewModel
@{
	ViewBag.Title = "はちみつ 詳細";
}

<div class="view-name">はちみつ詳細</div>
<div class="main">
	<div class="content">
		<div style="float:left;">
			<img src="~/Content/Images/honey01.jpg" />
		</div>
		<div>
			<table class="info">
				<tr>
					<th>商品名</th>
					<td>@Model.Name</td>
				</tr>
				<tr>
					<th>値段</th>
					<td>
						@{
							foreach (var sizePrice in Model.SizePriceDictionary)
							{
								<div style="margin: 5px 0px;">
									<span>@(sizePrice.Value.ToString("N"))円/@(sizePrice.Key)g</span>
									<span>(<u>税抜：@(sizePrice.Value.ToString("N"))円</u>)</span>
								</div>
							}
						}
					</td>
				</tr>
				<tr>
					<th>分類</th>
					<td>@Model.</td>
				</tr>
				<tr>
					<th>養蜂家</th>
					<td>ロバート・チャールズ氏</td>
				</tr>
				<tr>
					<th>採れた場所</th>
					<td>オーストラリア タスマニア島・ターカイン</td>
				</tr>
				<tr>
					<th>花の名前</th>
					<td>‐</td>
				</tr>
				<tr>
					<th>特徴</th>
					<td>
						<div style="margin-top:5px">
							「はちみつの香水」とも言えるほどの幻想的で華やかな香り。まずはそのままで。バゲット、紅茶にも。<br />
							コクのある甘みの中に樹木を思わせる清涼感。力強く華やかな余韻も印象的です。<br />
							花をつけるまでに70年以上、蜜を出すまでに100年かかる植物。100年待ったはちみつは、香水のようにエレガントです。
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div style="text-align:center;">
		<span>
			<button class="normal" type="button">戻る</button>
			<button class="normal" type="button" onclick="editView()">編集</button>
			<button class="delete" type="button">削除</button>
		</span>
	</div>
</div>

<script>
	function editView() {
		link('@Url.Action("Edit", "Honey")');
	}
</script>