
@{
    ViewBag.Title = "二次製品一覧";
}

<div class="view-name">二次製品一覧</div>
<div class="searchCondition">
    <table style="margin-right: auto; margin-left: auto;">
        <tr>
            <th>商品名</th>
            <td><input type="text" size="20" value="ドリンク"></td>
        </tr>
        <tr>
            <th>値段</th>
            <td>
                <input type="number" min="0" max="99999" size="5" value="">円
                ～ <input type="number" min="0" max="99999" value="2000">円
            </td>
        </tr>
    </table>
    <div class="buttonCenter">
        <input type="button" value="検索">
    </div>
</div>

<div class="main">
    <div class="content">
        <table class="listTable"
               style="margin-left: auto; margin-right: auto; width: 90%">
            <tr>
                <th>商品名</th>
                <th>値段</th>
                <th>画像</th>
                <th></th>
            </tr>
            <tr>
                <td>はちみつドリンク　ゆず</td>
                <td>1,728円</td>
                <td><img style="width: 50px; height: 50px;" src="~/Content/Images/drink01.jpg" /></td>
                <td><input type="button" value="詳細"></td>
            </tr>
            <tr>
                <td>はちみつドリンク　ゆず</td>
                <td>1,728円</td>
                <td><img style="width: 50px; height: 50px;" src="~/Content/Images/drink01.jpg" /></td>
                <td><input type="button" value="詳細"></td>
            </tr>
            <tr>
                <td>はちみつドリンク　ゆず</td>
                <td>1,728円</td>
                <td><img style="width: 50px; height: 50px;" src="~/Content/Images/drink01.jpg" /></td>
                <td><input type="button" value="詳細"></td>
            </tr>
            <tr>
                <td>はちみつドリンク　ゆず</td>
                <td>1,728円</td>
                <td><img style="width: 50px; height: 50px;" src="~/Content/Images/drink01.jpg" /></td>
				<td><input type="button" value="詳細"></td>
            </tr>
            <tr>
                <td>はちみつドリンク　ゆず</td>
                <td>1,728円</td>
                <td><img style="width: 50px; height: 50px;" src="~/Content/Images/drink01.jpg" /></td>
                <td><input type="button" value="詳細"></td>
            </tr>
            <tr>
                <td>はちみつドリンク　ゆず</td>
                <td>1,728円</td>
                <td><img style="width: 50px; height: 50px;" src="~/Content/Images/drink01.jpg" /></td>
                <td><input type="button" value="詳細"></td>
            </tr>
        </table>
    </div>
</div>